.nav-color {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    background-color: #84D2C5;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.icon {
    background-color: whitesmoke;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
}